<h1> Level 4</h1>

<h1>hi</h1>
<div layout="row" layout-padding layout-wrap layout-fill style="padding: 50px; " ng-cloak>
<md-whiteframe class="md-whiteframe-8dp" flex="40" style="margin: 50px; " style="padding: 50px; " layout layout-align="center center">
  <span>ORANGE JUICE</span>
</md-whiteframe>
<md-whiteframe class="md-whiteframe-8dp" flex="40"style="margin: 50px; " style="padding: 50px; " layout layout-align="center center">
  <span>COFFEE</span>
</md-whiteframe>
</div>
<div layout="row" layout-padding layout-wrap layout-fill style="padding: 50px; " ng-cloak>
<md-whiteframe class="md-whiteframe-8dp" flex="40" style="margin: 50px; "layout layout-align="center center">
  <span>$124.53</span>
</md-whiteframe>
<md-whiteframe class="md-whiteframe-8dp" flex="40" style="margin: 50px; " layout layout-align="center center">
  <span>$23.24</span>
</md-whiteframe>
</div>
<div layout="row" layout-padding layout-wrap layout-fill style="padding: 50px; " ng-cloak>
<md-whiteframe class="md-whiteframe-8dp" flex="40" style="margin: 50px; " layout layout-align="center center">
  <span>GREEN</span>
</md-whiteframe>
<md-whiteframe class="md-whiteframe-8dp" flex="40" style="margin: 50px; " layout layout-align="center center">
  <span>RED</span>
</md-whiteframe>
</div>
